*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: khaki;
    background-size: cover;
    justify-content: space-between;
    text-align: center;
}

input{
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
    height: 15px;
}

button{
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 10%;
    height: 20%;
}
