<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Style/Calculadora.css">
    <title>Document</title>
</head>
<body>
    <h1> Calculadora</h1>

    <input type="number" id="Numero_A"><br>
    <input type="number" id="Numero_b"><br>
    <button id="Resultado" onclick="Evento()">Calacular</button>
    <p>
        Resultado:
        <span id="Mostrar"></span>
    </p>
</body>
<script src="/Logic/Calculadora.js"></script>
</html>